{% extends 'gestion/base.html' %}

{% block content %}

<div class="form-card">

    <h2>Formulario Factura</h2>

    <form method="POST">

        {% csrf_token %}

        <div class="form-grupo">
            <label>Orden</label>
            {{ form.orden }}
        </div>

        <div class="form-grupo">
            <label>Método de pago</label>
            {{ form.metodo_pago }}
        </div>

        <hr><br>

        <p>
            El subtotal, impuesto y total se calculan automáticamente
            al guardar la factura.
        </p>

        <br>

        <button type="submit" class="btn btn-primario">
            Guardar
        </button>

    </form>

    <br>

    <a href="{% url 'facturas' %}" class="btn btn-secundario">
        Volver
    </a>

</div>

{% endblock %}