{% extends 'gestion/base.html' %}

{% block content %}

<h2>Órdenes</h2>

<a href="{% url 'crear_orden' %}">
    <button>Nueva Orden</button>
</a>

<br><br>

<table border="1" cellpadding="10">

    <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Empleado</th>
        <th>Mesa</th>
        <th>Estado</th>
        <th>Total</th>
        <th>Acciones</th>
    </tr>

    {% for orden in ordenes %}
    <tr>

        <td>{{ orden.id }}</td>

        <td>{{ orden.cliente }}</td>

        <td>{{ orden.empleado }}</td>

        <td>{{ orden.mesa }}</td>

        <td>{{ orden.estado_orden }}</td>

        <td>${{ orden.total }}</td>

        <td>

            <a href="{% url 'editar_orden' orden.id %}">
                Editar
            </a>

            |

            <a href="{% url 'eliminar_orden' orden.id %}"
               onclick="return confirm('¿Seguro que deseas eliminar esta orden?')">
                Eliminar
            </a>

        </td>

    </tr>
    {% endfor %}

</table>

{% endblock %}