{% extends 'gestion/base.html' %}

{% block content %}

<h2>Platos</h2>

<a href="{% url 'crear_plato' %}">
    <button>Nuevo Plato</button>
</a>

<br><br>

<table border="1" cellpadding="10">

    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Descripción</th>
        <th>Acciones</th>
    </tr>

    {% for plato in platos %}
    <tr>

        <td>{{ plato.id }}</td>
        <td>{{ plato.nombre_plato }}</td>
        <td>{{ plato.precio }}</td>
        <td>{{ plato.descripcion }}</td>

        <td>

            <a href="{% url 'editar_plato' plato.id %}">
                Editar
            </a>

            |

            <a href="{% url 'eliminar_plato' plato.id %}"
               onclick="return confirm('¿Seguro que deseas eliminar este plato?')">
                Eliminar
            </a>

        </td>

    </tr>
    {% endfor %}

</table>

{% endblock %}